*{ 
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
*,*::before, *::after {
    box-sizing: border-box;
}

body{
    padding: 2rem;
}
 nav
 {
display: flex;
padding: 1rem 0 ;
justify-content: space-between;
align-items: center;

}
nav img
{
width: 150px;
   
}
.nav-links
{
flex: 1;
text-align: right;
}
.nav-links ul li
{
list-style: none;
display: inline-block;
padding: 8px 12px;
position: relative;
}
.nav-links ul li a
{

color: #0065fc;
text-decoration: none;
font-size: 13px;


}
.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #0065fc;
    display: block;
    margin: auto;
    transition: 0.5s;



}
.nav-links ul li:hover:after {
    width: 100%;
} 


.text-box h1{
    font-size: medium;
}

.text-box p{

    margin: 0px 0 20px;
    font-size: 14px;
}
input
{
    position: relative;
    display: inline-block;
    font-size: 15px;
    box-sizing: border-box;
}

input[type="text"]
{
    background: rgb(251, 248, 248);
    width: 200px;
    height: 45px;
    border: darkblue;
    outline: thin;
    padding: 0 25px;
    border-radius: 0px 0 0 0px;
    
}
input[type="submit"]
{
    position: relative;
    border-radius: 0px 10px 10px 0;
    width:  80px;
    height: 45px;
    border: darkblue;
    outline: thin;
    cursor: pointer;
    background: #325FEC;
    color: #FFFFFF

}
    
    .fa-location-dot{
        display: flex;
        align-items: center;
        padding: 0px 25px 0px 25px;
        border-radius: 10px 0px 0px 10px;
      
        background-color: #F2F2F2;
        color: #000;
       
        width: 50px;
        border: #000;
    }


.btn {
  display: flex;
  align-items:baseline;
  background-color: white ;
  border: none;
  color: #325FEC;
  padding: 8px 8px;
  font-size: 16px;
  cursor: pointer;
  border-style:solid  ;
  border-color: #f2f2f2;
  border-radius: 29px 29px 29px 29px ;
  
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: #deebff;
 }
   .myicon{
   display: inline-block;
   height: 100%;
   margin: -8px;
}
 .text-box i.fa {
 border-radius: 60px; 
 background-color: #deebff ;
 padding: 10px 10px; 
   }
   .title{
   font-family: raleway;
   font-size: 15px;
   color: black;
   
   }
   ul li {
    display: flex;
    justify-content:space-between; 
    align-items: flex-start;
 
    

   }
   
   .fil{
    display: flex;
    margin-top: 19px;
    gap: 19px;


   }
   .con{
    display: flex;
   }
   .cards {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    background-color: #ffffff;
    border-radius: 15px;
    
}



.card img {
    object-fit: cover ;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 15px;
}
.card {
    display: grid;
    grid-template-rows: max-content 120px 1fr;
    
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
  }

  img {
    border-radius: 5px 5px 5px 5px;
    max-width: 100%;
  }
  .accommondations, .mostpopular
  {
    background-color: #f2f2f2;
    padding: 1rem;
    border-radius:  0px 20px 20px 20px; 
}
.flexrow{
    display: flex;
    gap: 10px;
}
.accommondations{
    flex-grow: 2;

}
.mostpopular{
    flex-basis: 25%;
     background-color: #f2f2f2;
    padding: 1rem;
    border-radius: 2rem;

}
.card .fa-star {
    color: #325FEC;
    font-size: 12px;
}
.card-container {
    display: flex;
    flex-basis: auto;
    flex-direction:row-reverse;
    width: 230px;
    margin: auto;


}
.card-1 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 20px;
    background-color: #ffffff;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 22px 22px 22px 22px; /* 5px rounded corners */
  }

.card-image-1 {
    max-width: 100%;
    width: 30%;
     object-fit: cover center ;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 15px;
}
.card-image-1 img{
    width: 100%;
    min-height: 100%;
    border-radius: 22px 22px 22px 22px;

}

.card-text-1 {
    width: 70%;
    padding: 10px;
}

.card-container{
display: flex;
justify-content: space-around;
flex-basis: 50px;
padding: padding;
gap: gap;
font-size: 8px;

}
.footer{
 display: flex;
    flex-basis: 25%;
    background-color: #f2f2f2;
   padding: 1rem;
   text-decoration: none;
   justify-content: space-between;


}
.footer .ol{
    text-decoration: none;

}