* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
a, a:visited{
  color: black;

}

a:hover{
  color: #0065fc

}
body {
  padding: 2rem 2rem 0rem 2rem;
  overflow-x :hidden;

}
.info .fa{
  color: #0065fc;
}


nav {
  display: flex;
  padding: 1rem 0;
  justify-content: space-between;
  align-items: center;
}
nav img {
  width: 150px;
}
.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a {
  
  text-decoration: none;
  font-size: 13px;
}
.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #0065fc;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover:after {
  width: 100%;
}

.text-box h1 {
  font-size: medium;
}

.text-box p {
  margin: 0px 0 20px;
  font-size: 14px;
}
input {
  position: relative;
  display: inline-block;
  font-size: 15px;
  box-sizing: border-box;
}

input[type="text"] {
  background: rgb(251, 248, 248);
  width: 200px;
  height: 45px;
  border: darkblue;
  outline: thin;
  padding: 0 25px;
  border-radius: 0px 0 0 0px;
}
input[type="submit"],.moblesearch {
  position: relative;
  border-radius: 0px 10px 10px 0;
  width: 80px;
  height: 45px;
  border: darkblue;
  outline: thin;
  cursor: pointer;
  background: #325fec;
  color: #ffffff;
}
.moblesearch{
display: none;


}

.fa-location-dot {
  display: flex;
  align-items: center;
  padding: 0px 25px 0px 25px;
  border-radius: 10px 0px 0px 10px;

  background-color: #f2f2f2;
  color: #000;

  width: 50px;
  border: #000;
}

.btn {
  display: flex;
  align-items: baseline;
  background-color: white;
  border: none;
  color: #325fec;
  padding: 8px 16px 8px 8px ;
  font-size: 16px;
  cursor: pointer;
  border-style: solid;
  border-color: #f2f2f2;
  border-radius: 29px 29px 29px 29px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: #deebff;
}
.myicon {
  display: inline-block;
  height: 100%;
  margin: -8px;
}
.text-box i.fa {
  border-radius: 60px;
  background-color: #deebff;
  padding: 10px 10px;
}
.title {
  font-family: raleway;
  font-size: 15px;
  color: black;
}
ul li {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.fil {
  display: flex;
  flex-wrap: wrap;
  margin-top: 19px;
  gap: 19px;
}

.con {
  display: flex;
}
.cards {
  display: flex ;
  flex-wrap: wrap;
  grid-template-columns: 31% 31% 31%;
  gap: 20px;
 
  border-radius: 15px 15px 15px 15px;
}

.card img {
  object-fit: cover;
  width: 100%;
  height: 150px;
  background-color: #ffffff;
  border-radius: 15px 15px 0 0;
  box-sizing: border-box;
  border:  5px #ffffff solid;
}
.card {
  flex-basis: 31%;
  grid-template-rows: max-content 120px 1fr;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 20px 20px 20px 20px; /* 5px rounded corners */
  background-color:  #ffffff;
}

img {

  display: flex;
  justify-content: flex-start;
  border-radius: 5px 5px 5px 5px;
  max-width: 100%;
  gap: 20px;
}
.accommondations,
.mostpopular {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #f2f2f2;
  padding: 3rem;
  border-radius: 20px 20px 20px 20px;
  min-width: 20px;
  flex-basis: 20px;
  flex-direction: row;
}
.accommondations h3 ,.mostpopular h3{
  margin-bottom: 1rem;
  display: flex;
    justify-content: space-between;
    width: 100%;
}
.showmore
{
 display: block;
  margin-top: 1rem;
  
}
.mp-card {
  display: flex;

  background-color: white;
  margin: 0 0 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.mp-card .content {
  position: relative;
}
.mp-card img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border: 5px white solid;
  border-radius: 15px 0 0 15px;
}

.star-container {
  position: absolute;
  bottom: 10px;
}
.flexrow {
  display: flex;
  gap: 20px;
}
.accommondations {
  flex-grow: 2;
}
.mostpopular {
  border: #f2f2f2;
  flex-basis: 25%;
  width: 25%;
  background-color: #f2f2f2;
}
.card .fa-star {
  color: #325fec;
  font-size: 12px;
}
.card-container {
  gap: 20px;
}
.card-1 {
  /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 20px; */
  background-color: #ffffff;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 22px 22px 22px 22px; /* 5px rounded corners */
  gap: 10px;
}

.card-image-1 {
  flex-basis: 20%;
  max-width: 100%;
  width: 30%;
  position: relative;
  width: 100%;
  height: 400px;
  background-color: #ffffff;
  border-radius: 15px;
}
.activ .card-image-1 {
  height: 150px;

}
.activ {
  flex-direction: column;
  flex-basis: 25%;
  flex-shrink: 0;
  

  justify-content: space-between;
  align-items: center;
  border-bottom: 20px
  ;
}
.card-image-1 img {
  width: 100%;
  height: 100%;
  border-radius: 22px 22px 0px 0px;
  object-fit: cover;
}

.card-text-1 {
  width: 70%;
  padding: 20px;
}

.card-container {
  display: flex;
  justify-content: space-around;
  flex-basis: 50px;
  padding: 20px;
  font-size: 8px;
  gap: 20px;
  flex-direction: row;
  margin: auto;
}
.footer {
  display: flex;
  flex-basis: 25%;
  background-color: #f2f2f2;
  padding: 3rem;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  gap: 50px;
}
.footer p{
  font-size: 8px;
  justify-content: space-evenly;
}

.info{
  margin: 10px 0;
}
.content{
  padding: 5px;
  border-radius: 20px 20px 20px 20px;
}
.mostpopular h2{
  display: inline-block;
}
.mostpopular > .fa-star{
  float: right;



}
.star-container{
  color: #325fec;
  font-size: 12px;
}
.card .fa-star.gray{
  color: #f2f2f2;

}
.star-container  .fa-star.gray{
  color: #f2f2f2;
}
.activ{
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.activ .card-1{
  flex-basis: 50%;
  width: 100%;
}
.footer{
  width: calc(100% + 8rem);

  margin-left: -4rem;
  margin-right: -4rem;
  padding: 2rem 6rem ;
}
.footer li{
  margin-bottom:  1rem;
  font-size: 12px;

}
.footer  p{

  font-size: 12px;
}
/* tablet */
@media (max-width: 996px) 
{ 
  
  .mostpop{
    display: flex;
    gap: 1rem;
  }

  nav{
    flex-direction: row;
    flex-basis: 50px;
    align-items: center;
  }
  .text-box h1 p{
    align-items: center;
     /*...*/
}

.fil{
  flex-direction: row;
  flex-wrap: wrap;

}


  .content{
    flex-direction: row;

    }

    .flexrow{
      flex-direction: column;
      flex-basis: 20px;
      align-items: center;
    }
    .mostpopular{

      width: calc(100% + 4rem);
      align-items: center;
      flex-direction: row;
      border-radius: 0;
      order: 1;
      padding-left: 2rem;
      padding-right: 2rem;
  
    }
    .card-container {
      display: flex;
      justify-content: space-around;
      flex-basis: 50px;
      padding: 20px;
      font-size: 8px;
      gap: 20px;
      flex-direction: row;
      margin: auto;
}
}
  /* moble */
@media (max-width: 768px) 
{
  .fil li{
    order: 3;
    margin-bottom: 16px;
    margin-right: 16px;
  }
  .fil li.low {
    order: 1;
  }
  .fil li.rowmance {
    order: 2;
  }
  .fil{
    gap: 0;
  }
  .nav-links ul {
    display: flex;
    width: 100%;
    border-bottom: 2px solid #f2f2f2;
  
  }
  .nav-links ul li a{
    padding: 1rem;
  }
  .nav-links ul li{
    width: 50%;
  text-align: center;
  }
  .nav-links{
    width: 100%;
  }
  nav {
    flex-direction: column;
    flex-basis: 20px;
    align-items:center;
  }
  .text-box h1 p{
    align-items: center;
  }

  
  .fil{
    
    flex-wrap: wrap;
    

  }
  .content{
    flex-direction: row;

  }
  .flexrow{
    flex-direction: column;
    flex-basis: 20px;
    align-items: center;
  }
  .mostpop{
    flex-direction: column;
    width: 100%;

  }
  .mostpopular{
    display: flex;
    flex-direction: column;
    width: calc(100% + 4rem);

    align-items: center;
    flex-direction: column;
    border-radius: 0;
    order: 1;
    padding-left: 2rem;
    padding-right: 2rem;

  }
  .moblesearch{
    display: inline-block;
    width: 45px;
  }
input[type="submit"]
{

  display: none;
}

  .mp-card{
    flex-direction: row;
    width: 100%;
  }
  .card-container{
    flex-direction: column;
    flex-basis: 10px;
    flex-shrink: 3;

  }
  .footer{
    width: calc(100% + 8rem);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    margin-left: -4rem;
    margin-right: -4rem;
  }
  /*...*/
  .accommondations{
    order: 2;
    width: 100%;
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
  }
  .cards {
    display: block;
  
  }
.card{
  margin: 20px;

}

.card-image-1{
  height: 150px;
}
.card-container {
  display: flex;
  justify-content: space-around;
  flex-basis: 50px;
  padding: 20px;
  font-size: 12px;
  gap: 20px;
  flex-direction: column;
  margin: auto;

}
.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #0065fc;
  display: flex;
  justify-content: center;

  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover:after {
  width: 100%;
}
}